<!DOCTYPE html>
<html lang="en" dir="ltr">
    <meta name="viewport" >
    <head>
        
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <title>Game Template</title>
    </head>
    <body>
        <canvas id="canvas"></canvas>

        <!-- IMAGES / SPRITES -->
        <img style='display:none' id="block1" width="16px" height="16px" src="sprites/x16_tile.png">
        <img style='display:none' id="bg1" width="640px" height="640px" src="sprites/bg1.png">

        <!-- GAME MANAGERS -->
        <script type="text/javascript" src="js/var.js"></script>
        <script type="text/javascript" src="js/engine.js"></script>
        <script type="text/javascript" src="js/main.js"></script>

        <!-- LEVELS -->
        <script type="text/javascript" src="levels/border.js"></script>
        <script type="text/javascript" src="levels/l1.js"></script>
        <script type="text/javascript" src="levels/l2.js"></script>
    </body>
    
</html>